<!DOCTYPE html>
<html ng-app='MyApp'>
<head>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src='./js/app.js'>
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Portfolio</title>
</head>
<body ng-controller='Main as ctrl'>
  <div class="container" >
    <!-- HEADER -->
    <div class="header">
      <div class="row">
        <div class="col-6">
          <h1 id='display-name'>An Nguyen</h1>
        </div>
        <div class="col-6"  id='social-group'>
          <ul id='ul-1'>
            <li id='li-1'><a id='a-1'href="http://facebook.com/"  target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li id='li-2'><a id='a-2'href="http://linkedin.com/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li id='li-3'><a id='a-3'href="http://twitter.com/"   target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li id='li-4'><a id='a-4'href="http://plus.google.com/"target="_blank"><i class="fa fa-google-plus"></i> </a></li>
            <li id='li-5'><a id='a-5'href="https://github.com/annguye2/"target="_blank"><i class="fa fa-github"></i> </a></li>
          </ul>
          <!-- </div> -->
        </div>
      </div>
    </div> <!--end of header -->
    <!-- BODY SECTION -->
    <div class="row">

      <!-- LEFT-PANEL: MENU SECTION -->
      <div class="col-3 menu">
        <ul>
          <li ng-click='ctrl.openFirstSection()'>General Assembely Training Projects </li>
          <li ng-click='ctrl.openSecondSection()'>Resume</li>
          <li ng-click='ctrl.openThirdSection()'>Favorite Netflix Tivi shows</li>
          <li ng-click='ctrl.openFourthSection()'>4 section</li>
        </ul>
      </div>

      <!-- MID-PANEL: PROJECTS SECTION -->
      <div id='project-section' class="col-6 mid" ng-show='ctrl.showFirstSectionBoolean'>
        <div class="row" id='project-detail'>
          <ul>
            <div class="row">
              <li>  <a href="https://annguye2.github.io/project_1/" target="_blank"><h4>Bai Cao</h4></a> </li>
              <p>A Vietnamese Three Cards Game which each player is given a hand of 3 cards in the game. The hands are then compared,
                and the person with the best hand wins. Click here for instruction <a href="https://www.vinagames.com/baicao.php" target="_blank">instructions</a> how to play the game.</p>
            </div>
            <div class="row">
              <li>  <a href="https://evening-everglades-34630.herokuapp.com/" target="_blank"><h4>Tasks Tracking System</h4></a> </li>
              <p>An app that provides methodologies for working team to keep track of tasks and number hours that tasked to each team member
                <a href="https://github.com/annguye2/project2/blob/master/readme.md" target="_blank">.  Read more..</a></p>
            </div>
            <div class="row">
              <li>  <a href="https://brews-near-you.herokuapp.com/" target="_blank"><h4>Beers Near You</h4></a> </li>
              <p> <a href="https://brews-near-you.herokuapp.com/" target="_blank">Beer Near You</a>
                is a web-app that could help beer-loving person to define the closest brewery location in your area.</p>
            </div>
            <div class="row">
              <li>  <a href="https://humanity-app-frontend.herokuapp.com/" target="_blank"><h4>Cards Against Humanity</h4></a> </li>
              <p>Cards Against Humanity is a party game for horrible people.  Unlike most of the party games you've played before, Cards Against Humanity is as despicable and awkward as you and your friends.</p>
            </div>
            <div class="row">
              <li>  <a href="https://gop-api-frontend.herokuapp.com/" target="_blank"><h4>Geospatial Online Projects</h4></a> </li>
              <p> <a href="https://github.com/annguye2/gop-app-frontend/blob/master/README.md" target="_blank">Geospatial online project (GOP) </a>is an web-based app where user can display
                Feature Server URL provided by ArcGIS Services API<a href="https://github.com/annguye2/gop-app-frontend/blob/master/README.md" target="_blank">.  Readmore..</a></p>
            </div>
          </ul>
          <!-- <select class="" name="">
             <option value="">------------------------- your project -------------------</option>
          </select> -->
        </div>

      </div>

      <!-- MID-PANEL: RESUME SECTION -->
      <div class="col-6 mid" ng-show='ctrl.showSecondSectionBoolean'>
        <h3>Resume</h3>
        <iframe src="./public/resume.html" style="width:100%; height:500px;" frameborder="1"></iframe>
      </div>

      <!-- MID-PANEL: THIRD SECTION -->
      <div class="col-6 mid" ng-show='ctrl.showThirdSectionBoolean'>
        <h3> <a href="https://www.netflix.com/" target="_blank">Favorite Netflix Tivi shows</a></h3>
           <div class="row">
             <ul>
               <div class="row">
                 <li> <a href="https://en.wikipedia.org/wiki/Blue_Bloods_(TV_series)"  target="_blank"> <h4>Blue Bloods</h4></a></li>
                 <p class='movie'>Blue Bloods is an American police procedural and legal drama series that airs on CBS. The series is filmed on location in New York City with occasional references to nearby suburbs</p>
               </div>
               <div class="row">
                 <li> <a href="https://en.wikipedia.org/wiki/Spartacus"  target="_blank"><h4>Spartacus</h4></a></li>
                 <p class='movie'>Spartacus (Greek: Σπάρτακος Spártakos; Latin: Spartacus;[1] c. 111–71 BC) was a Thracian gladiator who, along with the Gauls Crixus, Gannicus, Castus, and Oenomaus,
                   was one of the escaped slave leaders in the Third Servile War, a major slave uprising against the Roman Republic</p>
               </div>
               <div class="row">
                 <li> <a href="https://en.wikipedia.org/wiki/The_Last_Kingdom_(TV_series)"  target="_blank"> <h4>The Last Kingdom</h4></a></li>
                 <p class='movie'>The Last Kingdom is a British historical fiction television series based on Bernard Cornwell’s The Saxon Stories series of novels. The series premiered on 10 October 2015 on BBC America,
                   and on BBC Two in the UK on 22 October 2015. A second series of eight episodes co-produced by Netflix after the exit of BBC America began airing on BBC Two in the UK</p>
               </div>
               <div class="row">
                 <li> <a href="https://en.wikipedia.org/wiki/Person_of_Interest_(TV_series)"  target="_blank"> <h4>Person of Interest</h4></a></li>
                 <p class='movie'>Person of Interest is an American science fiction crime drama[1] television series that aired on CBS from September 22, 2011,[2] to June 21, 2016,[3] over five seasons, comprising a total of 103 episodes.</p>
               </div>

               <div class="row">
                 <li> <a href="https://en.wikipedia.org/wiki/The_Blue_Planet"  target="_blank"> <h4>The Blue Planet</h4></a></li>
                 <p class='movie'>The Blue Planet is a British nature documentary series created and produced by the BBC. It was premiered on 12 September 2001 in the United Kingdom. It is narrated by David Attenborough.</p>
               </div>


             </ul>
           </div>
      </div>

      <!-- MID-PANEL: FOURTH SECTION -->
      <div class="col-6 mid" ng-show='ctrl.showFourthSectionBoolean'>
        <h1></h1>
        <div>
        </div>
        <p>Rresume section </p>
      </div>

      <!-- RIGHT PANEL: BIO SECTION -->
      <div class="col-3 right" id='right-panel' >
        <div class="aside">
          <h5>About An Nguyen</h5>
          <section>
            An Nguyen is a Senior Consultant at <a href="https://www.boozallen.com/" target="_blank">Booz Allen Hamilton</a>.  He’s been employed with Booz Allen Hamilton for 10 years.
            He and his team currently support <a href="https://www.us-cert.gov/nccic" target="_blank">National Cybersecurity and Communications Integration Center (NCCIC)</a> variety areas, the main focus are UnderSea

          </section>
        </div>
      </div>

    </div>
  <!-- FOOTER SECTION -->
    <div class="footer">
      <div class="row" id='footer-id'>
        <ul id='ul-1'>
          <li id='li-1'><a id='a-1'href="http://facebook.com/"  target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li id='li-2'><a id='a-2'href="http://linkedin.com/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li id='li-3'><a id='a-3'href="http://twitter.com/"   target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li id='li-4'><a id='a-4'href="http://plus.google.com/"target="_blank"><i class="fa fa-google-plus"></i> </a></li>
          <li id='li-5'><a id='a-5'href="https://github.com/annguye2/"target="_blank"><i class="fa fa-github"></i> </a></li>
        </ul>
      </div>
    </div>

  </div>  <!-- End of main container -->
</body>
</html>
