<!DOCTYPE html>
<html ng-app='MyApp'>
<head>
  <link rel="stylesheet" href="./css/style.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript" src='./js/app.js'>

  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Portfolio</title>
</head>
<body ng-controller='Main as ctrl'>
  <div class="container" >
    <div class="header">
      <div class="row">
        <div class="col-6">
          <h1 id='display-name'>An Nguyen</h1>
        </div>
        <div class="col-6"  id='social-group'>
          <ul id='ul-1'>
            <li id='li-1'><a id='a-1'href="http://facebook.com/"  target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li id='li-2'><a id='a-2'href="http://linkedin.com/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li id='li-3'><a id='a-3'href="http://twitter.com/"   target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li id='li-4'><a id='a-4'href="http://plus.google.com/"target="_blank"><i class="fa fa-google-plus"></i> </a></li>
            <li id='li-5'><a id='a-5'href="https://github.com/annguye2/"target="_blank"><i class="fa fa-github"></i> </a></li>
          </ul>
          <!-- </div> -->
        </div>
      </div>
    </div> <!--end of header -->

   <!-- TEST SECTION  -->



   <!-- END  -->
    <div class="row">
      <div class="col-3 menu">
        <ul>
          <li ng-click='ctrl.openFirstSection()'>First Section</li>
          <li ng-click='ctrl.openSecondSection()'>Second Section</li>
          <li ng-click='ctrl.openThirdSection()'>Third Section</li>
          <li ng-click='ctrl.openFourthSection()'>Fourth Section</li>
          <!-- <li>Fourth Section</li> -->
        </ul>
      </div>

      <!-- mid-panel -->
      <div class="col-6" ng-show='ctrl.showFirstSectionBoolean'>
        <h1>First Section</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-6" ng-show='ctrl.showSecondSectionBoolean'>
        <h1>Second Section</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-6" ng-show='ctrl.showThirdSectionBoolean'>
        <h1>Third Section</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-6" ng-show='ctrl.showFourthSectionBoolean'>
        <h1>Fourth Section</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>


      <!-- right panel -->
      <div class="col-3 right" id='right-panel' >
        <div class="aside">
          <h2>Reserver</h2>
          <p>Csed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation u</p>
          <h2>??</h2>
          <p> consectetur adipisicing elit, sed do eiusmod tempor incidi.</p>
          <h2>Tell me</h2>
          <p>You can reach  consectetur adipisicing elit, sed do eiusmod tempor incidi</p>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>Footer section.</p>
    </div>

  </div>  <!-- End of main container -->
</body>
</html>
